
.app-page {
    background-color: black;
    width: 100%;
    display: flex;
    height: 100%;
}

.app-main {
    background-image: url("../../assets/banner-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}