
.app-page {
    background-color: black;
    width: 100%;
    display: flex;
    height: 100%;
}

.app-main {
    background-image: url("../../assets/banner-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5% 2%;
    text-align: end;
    gap: 40px;
}

.cards {
    justify-content: space-between;
    gap: 25px;
    display: flex;
}

.card {
    background-color: #1B1B1B;
    border-radius: 8px;
    width: auto;
    padding: 5% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 452px;
}

.big-card {
    flex-direction: column;
    padding: 40px 0px 0px 0px;
    max-width: 500px;
}

.big-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.cards-empe {
    gap: 25px;
    display: flex;
    width: 40%;
    flex-direction: column;

}

.cards-empe .card {
    width: 100%;
}

.patrocinadores {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.patrocinadores div {

    width: 100%;
    height: 4px;
    background: rgba(103, 103, 103, 0.19);
    border-radius: 8px;
    

}

.patrocinadores article {
    display: flex;
    gap: 20px;
    align-items: center;
}

.patrocinadores a {
    border-radius: 12px;
    border: 3px solid transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all ease .2s;
}

.patrocinadores a:hover {
    border: 3px solid #8A51FC;
    transform: scale(1.03);
}

.patrocinadores-links {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
}