
.login-container {

    height: 100%;
    display: flex;
    background-color: black;

}

.banner {
  width: 100%;
  overflow: hidden;
  background-image: url("../../assets/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.login {

    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 150px;
    align-self: flex-start;
    justify-self: start;
    background-color: #0B0B0B;
    height: 100%;
    border-right: 6px solid #8A51FC;
    border-radius: 0px 24px 24px 0px;


}

.inputsWrapper {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.footerLogin {

    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

p {

    font-weight: bold;
    font-size: 13px;
    color: white;

}

a {

    font-weight: bold;
    font-size: 13px;
    color: #8A51FC;
    text-decoration: underline;

}