
a {
    text-decoration: none;
    color: white;
    background-color: #111111;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    border-radius: 3px;
    gap: 18px;
    transition: all ease .2s;
    align-items: center;
}

a.active {
    background-color: #1D1D1D;
}

a:hover {
    background-color: #1D1D1D;
}



.app-nav {
    max-width: 300px;
    background-color: #0B0B0B;
    padding: 40px 20px;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    border-right: #8A51FC 2px solid;
    justify-content: space-between;
}

.app-nav div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app-nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app-logo {
    width: 100%;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}